<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,179}</string>
                <key>spriteSourceSize</key>
                <string>{179,179}</string>
                <key>textureRect</key>
                <string>{{1680,3},{179,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aEllipse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{979,911},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aEllipse_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{1650,606},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aWRain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,29}</string>
                <key>spriteSourceSize</key>
                <string>{76,29}</string>
                <key>textureRect</key>
                <string>{{1650,697},{76,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aWStar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,119}</string>
                <key>spriteSourceSize</key>
                <string>{67,121}</string>
                <key>textureRect</key>
                <string>{{766,474},{65,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>aWhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1741,672},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a_close.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{1844,902},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a_shareBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,29}</string>
                <key>spriteSourceSize</key>
                <string>{121,29}</string>
                <key>textureRect</key>
                <string>{{1864,645},{121,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a_shareBtnCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,29}</string>
                <key>spriteSourceSize</key>
                <string>{121,29}</string>
                <key>textureRect</key>
                <string>{{1847,680},{121,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{1744,848},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adVideo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,80}</string>
                <key>spriteSourceSize</key>
                <string>{110,80}</string>
                <key>textureRect</key>
                <string>{{1642,415},{110,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_26.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{1220,865},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_27.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{1685,746},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_28.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{1980,932},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_29.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{1854,1060},{22,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_30.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,26}</string>
                <key>spriteSourceSize</key>
                <string>{35,26}</string>
                <key>textureRect</key>
                <string>{{1761,301},{35,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_31.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{1980,970},{39,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_32.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{1826,1060},{24,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_33.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,18}</string>
                <key>spriteSourceSize</key>
                <string>{28,18}</string>
                <key>textureRect</key>
                <string>{{926,432},{28,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{1704,333},{77,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnEndToIdx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,23}</string>
                <key>spriteSourceSize</key>
                <string>{97,23}</string>
                <key>textureRect</key>
                <string>{{1744,778},{97,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnJumpNext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1659,779},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnMore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,178}</string>
                <key>spriteSourceSize</key>
                <string>{56,178}</string>
                <key>textureRect</key>
                <string>{{1802,301},{56,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnMore_qq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,555}</string>
                <key>spriteSourceSize</key>
                <string>{717,555}</string>
                <key>textureRect</key>
                <string>{{3,3},{717,555}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnNextLevel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,35}</string>
                <key>spriteSourceSize</key>
                <string>{96,35}</string>
                <key>textureRect</key>
                <string>{{1744,807},{96,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnNextLevel111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,35}</string>
                <key>spriteSourceSize</key>
                <string>{127,35}</string>
                <key>textureRect</key>
                <string>{{1864,604},{127,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnNotEaster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,23}</string>
                <key>spriteSourceSize</key>
                <string>{102,23}</string>
                <key>textureRect</key>
                <string>{{1847,785},{102,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnReset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1952,847},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,71}</string>
                <key>textureRect</key>
                <string>{{1650,531},{69,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnShare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,120}</string>
                <key>spriteSourceSize</key>
                <string>{110,120}</string>
                <key>textureRect</key>
                <string>{{1269,428},{110,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,119}</string>
                <key>spriteSourceSize</key>
                <string>{119,119}</string>
                <key>textureRect</key>
                <string>{{1395,418},{119,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{1520,417},{118,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnStartGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,103}</string>
                <key>spriteSourceSize</key>
                <string>{235,103}</string>
                <key>textureRect</key>
                <string>{{1462,3},{235,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnTips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{1741,1000},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTitThree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,29}</string>
                <key>spriteSourceSize</key>
                <string>{121,29}</string>
                <key>textureRect</key>
                <string>{{1847,715},{121,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnTitTwo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,44}</string>
                <key>spriteSourceSize</key>
                <string>{176,44}</string>
                <key>textureRect</key>
                <string>{{1864,487},{176,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnVideoEaster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,29}</string>
                <key>spriteSourceSize</key>
                <string>{121,29}</string>
                <key>textureRect</key>
                <string>{{1847,750},{121,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,100}</string>
                <key>spriteSourceSize</key>
                <string>{82,100}</string>
                <key>textureRect</key>
                <string>{{1846,814},{82,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coverBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,170}</string>
                <key>spriteSourceSize</key>
                <string>{177,170}</string>
                <key>textureRect</key>
                <string>{{1865,3},{177,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coverBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,134}</string>
                <key>spriteSourceSize</key>
                <string>{314,134}</string>
                <key>textureRect</key>
                <string>{{1220,545},{314,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coverCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,352}</string>
                <key>spriteSourceSize</key>
                <string>{312,352}</string>
                <key>textureRect</key>
                <string>{{131,726},{312,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coverCoinBtnTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,45}</string>
                <key>spriteSourceSize</key>
                <string>{174,45}</string>
                <key>textureRect</key>
                <string>{{564,546},{174,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coverCoinTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,196}</string>
                <key>spriteSourceSize</key>
                <string>{537,196}</string>
                <key>textureRect</key>
                <string>{{564,3},{537,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coverCoinTit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,53}</string>
                <key>spriteSourceSize</key>
                <string>{360,53}</string>
                <key>textureRect</key>
                <string>{{979,545},{360,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coverSettBtnTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,55}</string>
                <key>spriteSourceSize</key>
                <string>{203,55}</string>
                <key>textureRect</key>
                <string>{{1480,864},{203,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coverSettFalse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,77}</string>
                <key>spriteSourceSize</key>
                <string>{178,77}</string>
                <key>textureRect</key>
                <string>{{822,1007},{178,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coverSettSound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,61}</string>
                <key>spriteSourceSize</key>
                <string>{156,61}</string>
                <key>textureRect</key>
                <string>{{1864,537},{156,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coverSettTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,54}</string>
                <key>spriteSourceSize</key>
                <string>{103,54}</string>
                <key>textureRect</key>
                <string>{{1741,563},{103,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coverSettTrue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,77}</string>
                <key>spriteSourceSize</key>
                <string>{178,77}</string>
                <key>textureRect</key>
                <string>{{1475,781},{178,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coverSettVibr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,74}</string>
                <key>spriteSourceSize</key>
                <string>{155,74}</string>
                <key>textureRect</key>
                <string>{{1704,188},{155,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameEndBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{142,68}</string>
                <key>textureRect</key>
                <string>{{1728,415},{142,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameEndFailTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,109}</string>
                <key>spriteSourceSize</key>
                <string>{312,109}</string>
                <key>textureRect</key>
                <string>{{1360,544},{312,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameEndSuccTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,107}</string>
                <key>spriteSourceSize</key>
                <string>{312,107}</string>
                <key>textureRect</key>
                <string>{{951,432},{312,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameFailTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,176}</string>
                <key>spriteSourceSize</key>
                <string>{345,176}</string>
                <key>textureRect</key>
                <string>{{449,726},{345,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,290}</string>
                <key>spriteSourceSize</key>
                <string>{423,290}</string>
                <key>textureRect</key>
                <string>{{926,3},{423,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameSuccTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,176}</string>
                <key>spriteSourceSize</key>
                <string>{345,176}</string>
                <key>textureRect</key>
                <string>{{1038,545},{345,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,200}</string>
                <key>spriteSourceSize</key>
                <string>{163,200}</string>
                <key>textureRect</key>
                <string>{{1418,248},{163,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>levelNumBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,29}</string>
                <key>spriteSourceSize</key>
                <string>{91,29}</string>
                <key>textureRect</key>
                <string>{{1741,948},{91,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelNumBgIndex.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,47}</string>
                <key>spriteSourceSize</key>
                <string>{133,47}</string>
                <key>textureRect</key>
                <string>{{1315,282},{133,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,81}</string>
                <key>spriteSourceSize</key>
                <string>{67,81}</string>
                <key>textureRect</key>
                <string>{{1974,694},{67,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockUn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,40}</string>
                <key>spriteSourceSize</key>
                <string>{32,40}</string>
                <key>textureRect</key>
                <string>{{1942,932},{32,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numAdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1991,648},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,56}</string>
                <key>spriteSourceSize</key>
                <string>{177,56}</string>
                <key>textureRect</key>
                <string>{{1802,485},{177,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>numCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,58}</string>
                <key>spriteSourceSize</key>
                <string>{51,58}</string>
                <key>textureRect</key>
                <string>{{1704,268},{51,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numGem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,43}</string>
                <key>spriteSourceSize</key>
                <string>{49,43}</string>
                <key>textureRect</key>
                <string>{{1685,697},{49,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>numPhyscial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{1997,604},{38,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qqBoxBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,232}</string>
                <key>spriteSourceSize</key>
                <string>{87,232}</string>
                <key>textureRect</key>
                <string>{{1475,543},{87,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sign_finish.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,122}</string>
                <key>spriteSourceSize</key>
                <string>{356,122}</string>
                <key>textureRect</key>
                <string>{{3,726},{356,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_get.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,54}</string>
                <key>spriteSourceSize</key>
                <string>{65,54}</string>
                <key>textureRect</key>
                <string>{{891,474},{65,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_getBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,177}</string>
                <key>spriteSourceSize</key>
                <string>{148,177}</string>
                <key>textureRect</key>
                <string>{{1865,179},{148,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_notBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,177}</string>
                <key>spriteSourceSize</key>
                <string>{148,177}</string>
                <key>textureRect</key>
                <string>{{1864,333},{148,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_seven.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,151}</string>
                <key>spriteSourceSize</key>
                <string>{456,151}</string>
                <key>textureRect</key>
                <string>{{822,545},{456,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign_tit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,154}</string>
                <key>spriteSourceSize</key>
                <string>{465,154}</string>
                <key>textureRect</key>
                <string>{{766,3},{465,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinBtnBg_not.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,103}</string>
                <key>spriteSourceSize</key>
                <string>{235,103}</string>
                <key>textureRect</key>
                <string>{{1571,3},{235,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinBuyIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1974,781},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skinCoverIcon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,95}</string>
                <key>spriteSourceSize</key>
                <string>{273,95}</string>
                <key>textureRect</key>
                <string>{{1315,3},{273,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinOnlyGive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,40}</string>
                <key>spriteSourceSize</key>
                <string>{239,40}</string>
                <key>textureRect</key>
                <string>{{1416,3},{239,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinTaskGet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,26}</string>
                <key>spriteSourceSize</key>
                <string>{162,26}</string>
                <key>textureRect</key>
                <string>{{1672,244},{162,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinTryBtnTit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,45}</string>
                <key>spriteSourceSize</key>
                <string>{173,45}</string>
                <key>textureRect</key>
                <string>{{1006,911},{173,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinTryBtnTit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,27}</string>
                <key>spriteSourceSize</key>
                <string>{97,27}</string>
                <key>textureRect</key>
                <string>{{1761,268},{97,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skinTryTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,185}</string>
                <key>spriteSourceSize</key>
                <string>{537,185}</string>
                <key>textureRect</key>
                <string>{{631,546},{537,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinUnlockBtnTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,42}</string>
                <key>spriteSourceSize</key>
                <string>{165,42}</string>
                <key>textureRect</key>
                <string>{{1624,244},{165,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinUnlockTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,44}</string>
                <key>spriteSourceSize</key>
                <string>{130,44}</string>
                <key>textureRect</key>
                <string>{{1368,282},{130,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinUnlockTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,87}</string>
                <key>spriteSourceSize</key>
                <string>{419,87}</string>
                <key>textureRect</key>
                <string>{{1222,3},{419,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin_cur_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{1258,865},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skin_tit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,76}</string>
                <key>spriteSourceSize</key>
                <string>{230,76}</string>
                <key>textureRect</key>
                <string>{{1568,541},{230,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>starGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1826,1000},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starGameBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1886,1000},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timedownBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,194}</string>
                <key>spriteSourceSize</key>
                <string>{194,194}</string>
                <key>textureRect</key>
                <string>{{1541,864},{194,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timedownLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1057,896},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>baseAtlas.png</string>
            <key>size</key>
            <string>{2045,1087}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea94e07b73f3bb273c15106c8349489:10ecfe9c0cc4db23624c5e412af2c83c:7605128cbbbe6f75598230b0e28ad66d$</string>
            <key>textureFileName</key>
            <string>baseAtlas.png</string>
        </dict>
    </dict>
</plist>
