<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,171}</string>
                <key>spriteSourceSize</key>
                <string>{160,171}</string>
                <key>textureRect</key>
                <string>{{724,298},{160,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gameLoad2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,449}</string>
                <key>spriteSourceSize</key>
                <string>{750,449}</string>
                <key>textureRect</key>
                <string>{{3,500},{750,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameLoad3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,291}</string>
                <key>spriteSourceSize</key>
                <string>{253,291}</string>
                <key>textureRect</key>
                <string>{{724,3},{253,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameLoadLogo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{717,493}</string>
                <key>spriteSourceSize</key>
                <string>{717,493}</string>
                <key>textureRect</key>
                <string>{{3,3},{717,493}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameTip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,68}</string>
                <key>spriteSourceSize</key>
                <string>{637,68}</string>
                <key>textureRect</key>
                <string>{{899,298},{637,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameLoad.png</string>
            <key>size</key>
            <string>{980,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d551ac7fb75aa7dde8c860e82b252da7:e1af20ba176b56ca9c81e00dc58a3054:6f41168367a38d64e7b559fafabc24b0$</string>
            <key>textureFileName</key>
            <string>gameLoad.png</string>
        </dict>
    </dict>
</plist>
