<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,916}</string>
                <key>spriteSourceSize</key>
                <string>{750,916}</string>
                <key>textureRect</key>
                <string>{{3,3},{750,916}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameBgB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-97}</string>
                <key>spriteSize</key>
                <string>{750,722}</string>
                <key>spriteSourceSize</key>
                <string>{750,916}</string>
                <key>textureRect</key>
                <string>{{759,3},{750,722}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rName0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,38}</string>
                <key>spriteSourceSize</key>
                <string>{125,38}</string>
                <key>textureRect</key>
                <string>{{913,1580},{125,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rName1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,38}</string>
                <key>spriteSourceSize</key>
                <string>{125,38}</string>
                <key>textureRect</key>
                <string>{{1044,1580},{125,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rName3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,38}</string>
                <key>spriteSourceSize</key>
                <string>{124,38}</string>
                <key>textureRect</key>
                <string>{{890,862},{124,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rName4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,38}</string>
                <key>spriteSourceSize</key>
                <string>{169,38}</string>
                <key>textureRect</key>
                <string>{{738,1580},{169,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rName5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,38}</string>
                <key>spriteSourceSize</key>
                <string>{125,38}</string>
                <key>textureRect</key>
                <string>{{759,862},{125,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rectNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1020,862},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{150,154}</string>
                <key>textureRect</key>
                <string>{{1572,590},{150,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,165}</string>
                <key>spriteSourceSize</key>
                <string>{154,165}</string>
                <key>textureRect</key>
                <string>{{1636,430},{154,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,183}</string>
                <key>spriteSourceSize</key>
                <string>{93,183}</string>
                <key>textureRect</key>
                <string>{{1278,759},{93,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>role4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,190}</string>
                <key>spriteSourceSize</key>
                <string>{119,190}</string>
                <key>textureRect</key>
                <string>{{1731,1326},{119,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,163}</string>
                <key>spriteSourceSize</key>
                <string>{96,163}</string>
                <key>textureRect</key>
                <string>{{1467,759},{96,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skin_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{649,578}</string>
                <key>spriteSourceSize</key>
                <string>{649,578}</string>
                <key>textureRect</key>
                <string>{{581,925},{649,578}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talkBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,235}</string>
                <key>spriteSourceSize</key>
                <string>{259,235}</string>
                <key>textureRect</key>
                <string>{{1165,1326},{259,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tt_boxClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,47}</string>
                <key>spriteSourceSize</key>
                <string>{151,47}</string>
                <key>textureRect</key>
                <string>{{581,1580},{151,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tt_boxIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,421}</string>
                <key>spriteSourceSize</key>
                <string>{382,421}</string>
                <key>textureRect</key>
                <string>{{1487,3},{382,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tt_boxIcon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,295}</string>
                <key>spriteSourceSize</key>
                <string>{301,295}</string>
                <key>textureRect</key>
                <string>{{1430,1326},{301,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tt_boxTit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,97}</string>
                <key>spriteSourceSize</key>
                <string>{513,97}</string>
                <key>textureRect</key>
                <string>{{759,759},{513,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tt_giveCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,572}</string>
                <key>spriteSourceSize</key>
                <string>{695,572}</string>
                <key>textureRect</key>
                <string>{{3,925},{695,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tt_giveCoinBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,72}</string>
                <key>spriteSourceSize</key>
                <string>{145,72}</string>
                <key>textureRect</key>
                <string>{{1487,591},{145,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tt_giveSkin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{698,458}</string>
                <key>spriteSourceSize</key>
                <string>{710,458}</string>
                <key>textureRect</key>
                <string>{{1165,862},{698,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tt_giveSkinBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,79}</string>
                <key>spriteSourceSize</key>
                <string>{155,79}</string>
                <key>textureRect</key>
                <string>{{1487,430},{155,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>page.png</string>
            <key>size</key>
            <string>{1872,1630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b27fc71c5a8a2c946a769b895ac5a9:dcb09d9d8eb42c3d63d17b1938571e5c:64f0b87ded96e97df8b5565c43462f51$</string>
            <key>textureFileName</key>
            <string>page.png</string>
        </dict>
    </dict>
</plist>
