<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,76}</string>
                <key>spriteSourceSize</key>
                <string>{77,76}</string>
                <key>textureRect</key>
                <string>{{174,1784},{77,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>advBg_bottom.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{361,136},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advBg_planB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{361,155},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advBorder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{174,1162},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advBorder1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{265,591},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advBorder2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,196}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{265,793},{196,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advTit_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,60}</string>
                <key>spriteSourceSize</key>
                <string>{224,60}</string>
                <key>textureRect</key>
                <string>{{404,995},{224,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>advTit_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,60}</string>
                <key>spriteSourceSize</key>
                <string>{224,60}</string>
                <key>textureRect</key>
                <string>{{404,1225},{224,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>advTit_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,60}</string>
                <key>spriteSourceSize</key>
                <string>{224,60}</string>
                <key>textureRect</key>
                <string>{{174,1392},{224,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advTit_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,60}</string>
                <key>spriteSourceSize</key>
                <string>{224,60}</string>
                <key>textureRect</key>
                <string>{{404,1455},{224,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>advTit_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,60}</string>
                <key>spriteSourceSize</key>
                <string>{224,60}</string>
                <key>textureRect</key>
                <string>{{174,1458},{224,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advTit_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,60}</string>
                <key>spriteSourceSize</key>
                <string>{224,60}</string>
                <key>textureRect</key>
                <string>{{174,1524},{224,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advTit_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,60}</string>
                <key>spriteSourceSize</key>
                <string>{224,60}</string>
                <key>textureRect</key>
                <string>{{174,1590},{224,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advTit_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,60}</string>
                <key>spriteSourceSize</key>
                <string>{224,60}</string>
                <key>textureRect</key>
                <string>{{174,1656},{224,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>advi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,31}</string>
                <key>spriteSourceSize</key>
                <string>{83,31}</string>
                <key>textureRect</key>
                <string>{{259,1124},{83,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{3,558},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{348,1124},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipse_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,85}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{270,352},{85,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ellipse_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,50}</string>
                <key>textureRect</key>
                <string>{{414,3},{90,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,35}</string>
                <key>spriteSourceSize</key>
                <string>{405,35}</string>
                <key>textureRect</key>
                <string>{{3,3},{405,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fullClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,80}</string>
                <key>spriteSourceSize</key>
                <string>{251,80}</string>
                <key>textureRect</key>
                <string>{{3,820},{251,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hight_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,261}</string>
                <key>spriteSourceSize</key>
                <string>{200,261}</string>
                <key>textureRect</key>
                <string>{{3,352},{200,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hot_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,53}</string>
                <key>spriteSourceSize</key>
                <string>{93,53}</string>
                <key>textureRect</key>
                <string>{{361,367},{93,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hot_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,40}</string>
                <key>textureRect</key>
                <string>{{361,44},{45,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insertAd_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,148}</string>
                <key>spriteSourceSize</key>
                <string>{352,148}</string>
                <key>textureRect</key>
                <string>{{3,44},{352,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insertAd_btn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,148}</string>
                <key>spriteSourceSize</key>
                <string>{352,148}</string>
                <key>textureRect</key>
                <string>{{3,198},{352,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insertAd_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{412,99},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insertAd_close1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{174,1722},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>m1AdvBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,190}</string>
                <key>spriteSourceSize</key>
                <string>{142,190}</string>
                <key>textureRect</key>
                <string>{{270,443},{142,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>m1AdvMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{259,995},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{3,906},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,53}</string>
                <key>spriteSourceSize</key>
                <string>{93,53}</string>
                <key>textureRect</key>
                <string>{{404,1685},{93,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,40}</string>
                <key>textureRect</key>
                <string>{{361,90},{45,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oppMoreList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,712}</string>
                <key>spriteSourceSize</key>
                <string>{165,712}</string>
                <key>textureRect</key>
                <string>{{3,1162},{165,712}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>oppoMoreBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,119}</string>
                <key>spriteSourceSize</key>
                <string>{110,119}</string>
                <key>textureRect</key>
                <string>{{256,1722},{110,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{361,261},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>advPic.png</string>
            <key>size</key>
            <string>{467,1877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:459e56f4c61e2a8c2062afbf8b4b0c30:b35ecd02bcbeb4b970723242af7835f7:137ee4f6cd7b57c1d4eeef0b26901ccd$</string>
            <key>textureFileName</key>
            <string>advPic.png</string>
        </dict>
    </dict>
</plist>
